<h1>
Student Registration Form
</h1>

<form method="post">

    <input type="text" placeholder="Enter Student Name" name="Name" /><br><br>
    <input type="text" placeholder="Enter Student Qualification" name="Qualification" /><br><br>
    <input type="text" placeholder="Enter Student Contact" name="Contact" /><br><br>
    <input type="text" placeholder="Enter Student City" name="City" /><br><br>

    <input type="submit" value="Register" />

</form>
<br><br>

<a href="@Url.Action("fetchStudents","First")">Show Student</a>
